# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
AsteroidEvaders/Release/AsteroidEvaders.ipdb
*.iobj
AsteroidEvaders/AsteroidEvaders/Release/vc141.pdb
*.tlog
AsteroidEvaders/AsteroidEvaders/Release/AsteroidEvaders.tlog/AsteroidEvaders.lastbuildstate
*.log
*.ipch
*.log
*.opendb
AsteroidEvaders/.vs/AsteroidEvaders/v15/Browse.VC.db
*.suo
